%tr
  %td= link_to(connection.connection_name, multidatabase.connection_url(connection))
  %td= connection.adapter.blank? ? "N/A" : connection.adapter.adapter
  %td= connection.host
  %td= connection.database_name
  %td= connection.username
  %td= connection.active ? "Active" : "Disabled"
