%nav


%h3= "Create New Connection"

%div.actionlist
  .item
    = link_to "View Connections", multidatabase.connections_path

%br

= form_for @connection, url: { action: "create"}, html: {class: "form-horizontal"} do |f|

  - if !@connection.errors.blank?
    %div.error_explanation
      %h4= "The following #{pluralize(@connection.errors.count, 'error')} prohibited this article from being saved:"
      %ul
        - @connection.errors.full_messages.each do |error|
          %li= error 

  %div.form-group
    =f.label :connection_name, class: 'col-sm-2 control-label'
    %div.col-sm-10
      = f.text_field :connection_name

  %div.form-group
    =f.label :adapter_id, "Adapter", class: 'col-sm-2 control-label'
    %div.col-sm-10
      = f.collection_select(:adapter_id, @adapters, :id, :adapter, {}, {class: 'form-control input-sm'})

  %div.form-group
    =f.label :host, class: 'col-sm-2 control-label'
    %div.col-sm-10
      = f.text_field :host

  %div.form-group
    =f.label :database_name, class: 'col-sm-2 control-label'
    %div.col-sm-10
      = f.text_field :database_name

  %div.form-group
    =f.label :username, class: 'col-sm-2 control-label'
    %div.col-sm-10
      = f.text_field :username

  %div.form-group
    =f.label :password, class: 'col-sm-2 control-label'
    %div.col-sm-10
      = f.password_field :password

  %div.form-group
    %div.col-sm-offset-2.col-sm-10
      = f.submit "Create Connection", class: 'btn btn-primary btn-lg'  
