%nav


%h3= "Create New Connection"

%div.actionlist
  .item
    = link_to "View Connections", multidatabase.connections_path

- if !@connection.errors.blank?
  %div.error_explanation
    %h4= "The following #{pluralize(@connection.errors.count, 'error')} prohibited this article from being saved:"
    %ul
      - @connection.errors.full_messages.each do |error|
        %li= error 

= form_for @connection, url: { action: "create"}, html: {class: "standard_form"} do |f|
  %table
    %tr
      %td= f.label :connection_name
      %td= f.text_field :connection_name
    %tr
      %td= f.label :host
      %td= f.text_field :host
    %tr
      %td= f.label :database_name
      %td= f.text_field :database_name
    %tr
      %td= f.label :username
      %td= f.text_field :username
    %tr
      %td= f.label :password
      %td= f.password_field :password
    %tr
      %td.button{colspan: 2}= f.submit "Create Connection"