<!DOCTYPE html>
<html>
<head>
  <title>MultiDatabase</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    "multi_database/application", media: "all",  'data-turbolinks-track' => true %>
    <%= javascript_include_tag "multi_database/application", 'data-turbolinks-track' => true  %>
    <%= csrf_meta_tags %>
</head>
<body>

<p id="flash_success_message"> <%= flash[:success] %></p>
<p id="flash_error_message">  <%= flash[:error]  %></p>
<% flash[:success] = nil %>
<% flash[:error] = nil %>

<%= yield %>

</body>
</html>
